---
layout: layouts/base.njk
title: Home
---

<div class="profile">
  <div class="profile-info">
    <h1>{{ site.name }}</h1>
    <p class="subtitle">{{ site.title }} | {{ site.institution }}</p>

    <p>
    I study how to make AI systems interpretable, controllable, and grounded in human context. My research explores structured representations and reasoning mechanisms (spanning neurosymbolic models, intent-aware interfaces, and agentic workflows)  to bridge the gap between statistical learning and mission-critical decision-making. I’m especially interested in building systems that align with human goals, justify their behavior, and can be trusted to operate in high-stakes environments.

    </p>

<h3> Backround </h3>

<p>Previously, I was a Research Assistant Professor of Computer Science at <a href="https://engineering.tufts.edu/cs/">Tufts University</a>, and a Senior Researcher at <a href="https://www.sift.net/">Smart Information Flow Technologies (SIFT)</a>, where I led AI efforts for U.S. defense and intelligence programs. Before entering research, I practiced intellectual property law at <a href="https://www.ropesgray.com/en">Ropes & Gray</a> for nearly a decade.</p>

<p>I hold a dual Ph.D. in Computer Science and Cognitive Science from <a href="https://engineering.tufts.edu/cs/">Tufts University</a>, where I was advised by <a href="https://hrilab.tufts.edu/">Matthias Scheutz</a> and <a href="https://en.wikipedia.org/wiki/Daniel_Dennett">Dan Dennett</a>. I also earned an M.S. from <a href="https://web.mit.edu/">MIT</a>, a B.S. from the <a href="https://www.uark.edu/">University of Arkansas</a>, and a J.D. from <a href="https://www.bu.edu/law/">Boston University School of Law</a>.</p>


    <p>This <a href="https://www.bu.edu/law/record/articles/2023/drawing-on-law-to-study-ai/"><strong>2023 BU Law article</strong></a> summarizes my journey.</p>

    <p>Outside of work, I spend time with my wife, three kids, and other family and friends. When I have some spare time, I write and draw <a href="/art/">single-panel cartoons</a>, practice <a href="https://kempoinfo.com/">shaolin-kempo-karate style martial arts</a>, play chess and design <a href="/apps/">puzzle video games</a>.</p>

  </div>

  <div class="profile-photo">
    <img src="/assets/img/profile.jpg" alt="{{ site.name }}" class="profile-image">
  </div>
</div>
